node_modules
npm - debug.log
    .env
    .env.local
    .env.*.local
        .git
        .github
        .gitignore
README.md
docs
    .prettierignore
    .prettierrc
babel.config.js
coverage
    .nyc_output
    *.log
        .DS_Store
        .vscode
        .idea
    *.swp
    *.swo
    * ~